<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grouter.demo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="grouter"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.CinemaActivity" />
        <activity android:name=".activity.CinemaDetailActivity" />
        <activity android:name=".activity.MomentActivity" />
        <activity android:name=".activity.MovieActivity" />
        <activity android:name=".activity.MoviePhotoActivity" />
        <activity android:name=".activity.MovieWorkerActivity" />
        <activity android:name=".activity.NetworkPingActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.OverridePendingTransitionActivity" />
        <activity android:name=".activity.OverridePendingTransitionTargetActivity" />
    </application>

</manifest>
