<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grouter.demo.base">

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".view.CrewActivity"
            android:exported="true"
            android:label="@string/title_activity_crew"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>